---
import { GridBackground } from '@/shared/ui/molecules/Background/GridBackground';
import { PortfolioNavigation } from './PortfolioNavigation';
import { HeroSection } from '@/widgets/hero/ui/HeroSection';
---

<div class="relative flex min-h-screen w-full">
  <GridBackground>
    <PortfolioNavigation client:load />
    <HeroSection client:load />
  </GridBackground>
</div>
